@page "/"
@using mamun_SchoolApp.Data;

@inject mamun_SchoolApp.IRepository.IStudentsRepository studentsRepository;



<h1>mamun school app</h1>

<input type="text" @bind-value="@Student.name" />
<br />
<br />
<input type="text" @bind-value="@Student.date_of_birth" />
<br />
<br />
<button class="btn btn-success" @onclick="@(e=>SaveItem())">Save</button>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>DOB</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Students student in Students)
        {
            <tr>
                <td>@student.id</td>
                <td>@student.name</td>
                <td>@student.date_of_birth</td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e=>SetItemValue(@student))">Edit</button>
                    <button class="btn btn-danger" @onclick="@(e=>DeleteItem(@student.id))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code{
    Students Student = new Students();
    List<Students> Students = new List<Students>();

    protected override void OnInitialized()
    {
        LoadItems();
    }

    private void LoadItems()
    {
        Students = new List<Students>();
        Students = studentsRepository.Gets();
    }

    private void GetItem(int id)
    {
        Student = studentsRepository.Get(id);
    }

    private void DeleteItem(int id)
    {
        string message = studentsRepository.Delete(id);
    }

    private void SaveItem()
    {
        if (Student.id == 0) Student = studentsRepository.Save(Student);
        else Student = studentsRepository.Update(Student);
        Student = new Students();
        LoadItems();
    }


    private void SetItemValue(Students student)
    {
        Student = student;
    }

}
